<!DOCTYPE html>
<html>
  <head>
    <title>Time Tables</title>
    <link rel="stylesheet"link href="/static/table.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>


      <script>
        function saveTablesAsCSV() {
        // Get all the tables on the page
        const tables = document.querySelectorAll('table');
        
        // Loop through each table and save it as a CSV file
        tables.forEach((table, index) => {
          // Create a new CSV file for each table
          const csvContent = [];
          
          // Get the table headers and add them to the CSV file
          const headers = [];
          table.querySelectorAll('thead th').forEach(header => {
            headers.push(header.innerText);
          });
          csvContent.push(headers.join(','));
          
          // Get the table rows and add them to the CSV file
          table.querySelectorAll('tbody tr').forEach(row => {
            const rowData = [];
            row.querySelectorAll('td').forEach(cell => {
              rowData.push(cell.innerText);
            });
            csvContent.push(rowData.join(','));
          });
          
          // Create a download link for the CSV file
          const csvBlob = new Blob([csvContent.join('\n')], { type: 'text/csv' });
          const csvURL = URL.createObjectURL(csvBlob);
          const downloadLink = document.createElement('a');
          downloadLink.setAttribute('href', csvURL);
          downloadLink.setAttribute('download', `Year-${index + 1}.csv`);
          downloadLink.click();
        });
      }

      // Call the saveTablesAsCSV function when the download button is clicked
      document.querySelector('#download-btn').addEventListener('click', saveTablesAsCSV);

      </script>

  </head>
  <div class= "Heading" >TIME TABLES</div>

  <button class="down_pdf" id="download" onclick="saveTablesAsCSV()"> Download (.csv)</button>
  <body>
    
    
    <table>
      <caption>Timetable for 1st Year</caption>
      <thead class="header">
        <tr>
          {% for header in headers %}
          <th>{{ header }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in data1 %}
        <tr>
          {% for value in row.values() %}
          <td>{{ value }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>


    
    <table>
      <caption>Timetable for 2nd Year</caption>
      <thead class="header">
        <tr>
          {% for header in headers %}
          <th>{{ header }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in data2 %}
        <tr>
          {% for value in row.values() %}
          <td>{{ value }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>


    
    <table>
      <caption>Timetable for 3rd Year</caption>
      <thead class="header">
        <tr>
          {% for header in headers %}
          <th>{{ header }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in data3 %}
        <tr>
          {% for value in row.values() %}
          <td>{{ value }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>


    
    <table>
      <caption>Timetable for 4th Year</caption>
      <thead class="header">

        <tr >
          {% for header in headers %}
          <th>{{ header }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in data4 %}
        <tr>
          {% for value in row.values() %}
          <td>{{ value }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>


  

  </body>
</html>
