<!DOCTYPE html>
<html>
  <head>
    <title>Time Tables</title>
    <link rel="stylesheet"link href="/static/table.css">
  </head>
  <body>
    <div class="year">1st Year</div>
    <table>
      <thead class="header">
        <tr>
          {% for header in headers %}
          <th>{{ header }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in data1 %}
        <tr>
          {% for value in row.values() %}
          <td>{{ value }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>


    <div class="year">2nd Year</div>
    <table>
      <thead class="header">
        <tr>
          {% for header in headers %}
          <th>{{ header }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in data2 %}
        <tr>
          {% for value in row.values() %}
          <td>{{ value }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>


    <div class="year">3rd Year</div>
    <table>
      <thead class="header">
        <tr>
          {% for header in headers %}
          <th>{{ header }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in data3 %}
        <tr>
          {% for value in row.values() %}
          <td>{{ value }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>


    <div class ="year">4th Year</div>
    <table>
      <thead class="header">
        <tr >
          {% for header in headers %}
          <th>{{ header }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in data4 %}
        <tr>
          {% for value in row.values() %}
          <td>{{ value }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
